@media screen and (max-width:1024px){

h1{display:none;
}

#menubar{
	text-decoration:none;
	color: white;
   font-size:200%;
   display: block;
   margin-left: 45%;
   margin-right: 45%;
   text-align:center;
   padding-bottom: 10px;
}

#menu{
	width:50%;
	text-align:center;
	margin-left: 25%;
	margin-right: 25%;
}

}